body {
  overflow: hidden;
}

.toolbox {
  position: absolute;
  left: 2rem;
  top: 2rem;
  border-radius: 3px;
  font-family: 'PT Sans', sans-serif;
  max-width: 315px;
  min-width: 315px;
  z-index: 2;
  background-color: #fff;
  padding: 0.5rem 1.5rem;
  box-shadow: -4px 4px 8px rgb(0 0 0 / 20%);
}

.toolbox header h1{
  line-height: 1.1;
  color: #353535;
  font-weight: bold;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  padding-bottom: 0.75rem;
  font-family: "PT Sans Narrow", sans-serif;
}

.box-header {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.box-header span {
  display: block;
}

.description {
  color: #353535;
}

.panel {
  position: absolute;
  font-family: 'PT Sans', sans-serif;
  top: 0;
  right: -33%;
  padding: 1rem 2.5rem;
  height: 100vh;
  width: 33%;
  background: white;
  box-shadow: 2px 2px 2px 7px rgba(0, 0, 0, 0.1);
  transition: 0.5s all ease;
  overflow-y: auto;
  border-radius: 3px;
  z-index: 3;
}

.panel-content {
  max-height: 100%;
}

.panel-content h2 {
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: uppercase;
  font-size: 1.15rem;
  opacity: .8;
}

.panel-content span {
  font-family: 'PT Sans', sans-serif;
}

.open {
  right: 0%;
}

.close-btn {
  position: absolute;
  right: 36px;
  top: 27px;
  z-index: 1;
  font-family: 'PT Sans', sans-serif;
  color: #353535;
  background-color: white;
  transition: 0.3s all ease;
  border: none;
  opacity: 0.8;
  font-size: 1.5rem;
}

.close-btn:hover {
  color: #02354b;
}


.sidePanelHeaderStyle {
  text-transform: uppercase;
  color: #353535;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}
.sidePanelHeaderStyle::after {
  content: "";
  display: block;
  border-bottom: 2px solid #02354b;
  width: 34px;
  height: 6px;
}
.side-panel-value {
  text-transform: uppercase;
  color:#02354b;
  font-size: 15px;
}

p.side-panel-link {
  text-transform: none;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.4;
  color:  #353535;
}

.side-panel-value span {
  text-transform: none;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.4;
  color:  #353535;
}

.side-panel-value span.source{
  display: block;
  color:  #353535;
  font-size: .9rem;
  font-style: italic;
  margin-top: .25rem;
  opacity: 85%;
}

a {
  color: #036997;
}

a:hover {
  text-decoration: none;
  color: #02354b; 
}

.leaflet-left {
  margin-top: 1.5rem;
  border-radius: 3px;
}


.legend {
  position: relative;
  top: .313rem;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: .75rem;
  font-size: .75rem;
}

.legend[data-type="legends"] {
  --newRig: #7d4391;
  --oldRig: #63a7ec;
  --japanShelf: #caa16d;
  --chinaShelf: #0078b2;
  --jointDevelopment: #0c8d79;
  --ramp6: #670000;
}

.legend li {
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
}

.legend li span::before {
  content: "";
  position: relative;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: var(--bg);
}

.container {
  display: grid;
  grid-template-columns: repeat(2, .15fr);
}

#ramp1 {
  margin-right: 9px;
}

#ramp2 {
  margin-right: 9px;
}

#ramp1::before {
  background-color: var(--newRig);
  border: 3px solid var(--newRig);
  border-radius: 50%;
  margin-left: 4px;
}

#ramp2::before {
  background-color: var(--oldRig);
  border: 3px solid var(--oldRig);
  border-radius: 50%;
  margin-left: 4px;
}

#ramp3::before {
  background-color: var(--japanShelf);
  /* border: 3px solid var(--japanShelf); */
  width: 25px;
  height: 3px;
}

#ramp4::before {
  background-color: var(--chinaShelf);
  /* border: 3px solid var(--chinaShelf); */
  width: 25px;
  height: 3px;
}

#ramp5::before {
  background-color: var(--jointDevelopment);
  /* border: 3px solid var(--jointDevelopment); */
  width: 25px;
  height: 3px;
}

/* .legend-text {
  position: relative;
  margin-left: 10px;
}

.legend__value>span {
  margin-left: 10px;
} */

@media screen and (max-width: 768px) {
  .panel {
    width: 80%;
    right: -80%
  }

  .open {
    right: 0%
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .panel {
    width: 40%;
    right: -40%
  }

  .open {
    right: 0%
  }
}

/* Override leaflet default styles */
.leaflet-top {
  position: relative !important
}

.leaflet-left .leaflet-control {
  margin-left: 0;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  position: fixed;
  bottom: 20px;
  left: 2rem;
}
